.conocimientos {
    color: #004080;
    font-weight: bold;
}

.navbar-toggler {
    margin-left: auto;
}

.error-mensaje {
  color: #FF0000;
  display: none;
}
  
  @media (min-width: 768px) {
    .navbar-toggler {
      display: none;
    }
  }